</div>
<h1 {% if site.style == 'dark' %}class="text-white"{% endif %} style="text-align: center;">🌴 About Me 📷</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I am a software engineer from California, currently located in Utah with my wife, Sarah, and our Australian Shepherd named Dipper—who is the cutest little maniac ever. 
    I love photography, baseball, volleyball, the outdoors, video and board games, cooking, and all kinds of nerdy stuff like Star Wars and Lord of the Rings. Also, if you've ever played Outer Wilds, talk to me. Greatest video game ever.
</p>
<div style="margin: auto; text-align: center;">
    <img src="/Images/DSC_0374.JPG" style="max-width: 300px; max-height: 300px; margin: auto; display: inline-block; padding: 2px; margin-left: auto; margin-right: auto; text-align: justify"/>
    <img src="/Images/Dipper.jpg" style="max-width: 300px; max-height: 300px; margin: auto; display: inline-block; padding: 2px; margin-left: auto; margin-right: auto; text-align: justify"/>
    <img src="/Images/Cabo.jpg" style="max-width: 300px; max-height: 300px; margin: auto; display: inline-block; padding: 2px; margin-left: auto; margin-right: auto; text-align: justify"/>
    <img src="/Images/Dunes.jpg" style="max-width: 300px; max-height: 300px; margin: auto; display: inline-block; padding: 2px; margin-left: auto; margin-right: auto; text-align: justify"/>
</div>
<h1 {% if site.style == 'dark' %}class="text-white"{% endif %} style="text-align: center;">👨‍💻 Career</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I'm skilled in backend development and system design, with a focus on security and scalability. I hold a B.S. in Computer Engineering, with a minor in Computer Science, but gave up on low-level programming/hardware pretty much as soon as I was able. 
    It's cool, but not my thing. I did learn a lot, however, about working under tight system constraints, as well as how operating systems and embedded systems work, which has given me a deep appreciation for infrastructure work.
    <br>
    <br>
    In my professional experience, I have designed and implemented varying business-critical projects, including several authentication systems, high-volume email ingestion platforms, and robust billing systems. My passion especially lies in authentication systems,
    which I love due to their complex and highly sensitive nature. There's nothing quite like a fun problem with actual stakes!
    In addition to my technical skills, I am also a talented mentor and trainer, having led team and department level trainings on web authentication methods and mentored junior engineers on application development and system design.
    <br>
    <br>
    As my career continues, I hope to continue finding opportunities to grow and contribute. I got into software because I love the endless potential for creativity. It never quite gets credit as an art, but to me it is, and it's one I intend to master.
</p>